/* class -> .text-red {} */
/* id -> #id-bilgisi {} */

#first-article{
    font-size: 40px;
}

.text-red {
    color: red;

}

.fs-small{
    font-size: 14px;
}

.fs-medium{
    font-size: 20px;
}

.fs-large{
    font-size: 30px;
}